@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2") format("woff2"), url("../fonts/Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  font-display: swap;
  src: url("../fonts/WorkSans-Bold.woff2") format("woff2"), url("../fonts/WorkSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  font-display: swap;
  src: url("../fonts/WorkSans-Medium.woff2") format("woff2"), url("../fonts/WorkSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  font-display: swap;
  src: url("../fonts/WorkSans-Regular.woff2") format("woff2"), url("../fonts/WorkSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  font-display: swap;
  src: url("../fonts/WorkSans-SemiBold.woff2") format("woff2"), url("../fonts/WorkSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.btn {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 1.6rem;
  background-color: #FFB742;
  color: #212529;
  padding: 0.6em 1.3em;
  border-radius: 2.7em;
}

.titleBlock {
  font-size: 1rem;
  font-family: "Poppins";
  font-weight: 400;
  text-align: left;
  color: #ffffff;
}

.titleBlock__suptitle {
  font-weight: 600;
  font-size: 2em;
  color: #FFB742;
  padding: 0.3em 1.2em;
  background: rgba(255, 255, 255, 0.0784313725);
  border-radius: 2.5em;
  text-transform: uppercase;
}

.titleBlock__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 4.8em;
  margin-top: 0.2em;
  margin-bottom: 0.625em;
}

.titleBlock__text {
  font-size: 1.6em;
  color: #d5d5d5;
  line-height: 1.875em;
  margin: 0;
}

.titleBlock__btn {
  margin-top: 5em;
}

.container {
  margin: 0 auto;
  max-width: 100vw;
  padding: 0 5rem;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav {
  font-size: 1rem;
  font-family: "Poppins";
  font-weight: 600;
  padding: 1em 0;
}

.nav .wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo svg {
  width: 7em;
}

.nav__list {
  font-size: 1em;
}

.nav__list--item {
  margin: 0 1.2em;
}

.nav__list--link {
  font-size: 1.8em;
  line-height: 1.5em;
  text-transform: capitalize;
  color: #ffffff;
  -webkit-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.nav__list--item:hover .nav__list--link,
.nav__list--item._active .nav__list--link {
  color: #FFB742;
}

.header {
  min-height: 100vh;
  font-size: 1rem;
}

.header__wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.header .titleBlock {
  text-align: center;
}

.header__suptitle {
  font-family: "Inter";
  font-weight: 700;
  font-size: 3.2em;
}

.header__suptitle a {
  text-decoration: underline;
  color: #FFB742;
}

.header__img {
  margin-top: 4em;
  max-width: 35em;
}

.header__cardWrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 12em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__card {
  font-size: 1em;
  background: rgba(56, 62, 69, 0.44);
  border-radius: 10px;
  padding: 3em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  margin: 1.5em 5em 0 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__card:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.header__card:last-child {
  margin-right: 0;
}

.header__card--text {
  font-family: "Inter";
  font-weight: 700;
  text-align: center;
  line-height: 3em;
  margin: 0 3em;
}

.header__card--text span {
  display: block;
}

.header__card--skill {
  font-size: 3.2em;
  color: #FFB742;
}

.header__card--desc {
  font-size: 1.6em;
  color: #ffffff;
  margin-top: 1em;
}

.header__card--ico {
  max-width: 6em;
}

.header__card--ico_width {
  width: 8px;
  fill: #B3B3B3;
}

.header .cls-1 {
  fill: #FFB742;
}

.header .cls-2 {
  fill: #273c4d;
}

.header .cls-3 {
  fill: #213241;
}

.header .cls-4 {
  fill: #f4f4f4;
}

.header .cls-5 {
  fill: #ffe6cf;
}

.header .cls-6 {
  fill: #e5cfba;
}

.header .cls-7 {
  fill: #fff;
}

.header .cls-8 {
  fill: #4d453f;
}

.header .cls-9 {
  fill: #ff4f6d;
}

.header .cls-10 {
  fill: #d6c1ae;
}

.header .cls-11 {
  fill: #665c53;
}

.header .cls-12 {
  fill: #1a1a1a;
}

.about {
  font-size: 1rem;
}

.about .titleBlock {
  margin-left: 4em;
}

.about__wrapper * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.about__img {
  max-width: 100%;
  display: block;
}

.about .cls-1 {
  fill: #FFB742;
}

.skills {
  font-size: 1rem;
}

.skills .titleBlock {
  margin-right: 10em;
}

.skills__wrapper * {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.skills__wrapper .titleBlock {
  min-width: 40%;
}

.skills__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.skills__list--item {
  padding: 1.6em;
  background-color: rgba(56, 62, 69, 0.74);
  border-radius: 1em;
  margin: 0.8em;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.skills__list--item svg {
  width: 4.9em;
  height: 4.9em;
  max-width: 100%;
}

.skills__list--item:hover {
  -webkit-transform: translateY(-1em);
      -ms-transform: translateY(-1em);
          transform: translateY(-1em);
}

.skills__list--item:hover .skills__list--item_title {
  opacity: 1;
  bottom: -1.5em;
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
}

.skills__list--item_title {
  position: absolute;
  left: 50%;
  bottom: -3em;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.6em;
  display: block;
  white-space: nowrap;
  text-align: center;
}

*,
*::after,
*::before {
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

ul {
  padding: 0;
  list-style-type: none;
}

html {
  font-family: "Inter";
  font-weight: 400;
  font-size: calc(4px + 0.4447739066vw);
}

body {
  background-color: #212529;
  margin: 0;
  padding: 0;
  position: relative;
}

section,
.header {
  padding-top: 7em;
  padding-bottom: 7em;
}

@media (max-width: 767px) {
  .header__card:nth-child(2) {
    margin-right: 0;
  }

  html {
    font-size: calc(4px + 10.2 * (100vw - 320px) / 1349);
  }
}